<nav>
  <%= link_to t('views.navigation.go_back'), root_path, class: 'btn btn-secondary' %>
</nav>

<main class='row'>
  <div class='col-md-12'>
    <header class='header'>
      <h1><%= t('activerecord.models.subsidiary.other') %></h1>

      <p><%= t('views.resources.subsidiaries.description') %></p>
    </header>

    <section class='contents'>
      <% if @subsidiaries.empty? %>
        <p><%= t('views.resources.subsidiaries.empty_resource') %></p>
      <% end %>

      <table class="col index_table">
        <thead class="index_table_head">
          <tr class="index_table_row">
            <th><%= t('activerecord.attributes.subsidiary.name') %></th>
            <th><%= t('activerecord.attributes.subsidiary.cnpj') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody class="index_table_body">
          <% @subsidiaries.each do |subsidiary| %>
            <tr class="index_table_row" id="subsidiary-<%= subsidiary.id %>">
              <td><%= subsidiary.name %></td>
              <td><%= subsidiary.formatted_cnpj %></td>
              <td><%= link_to t('views.navigation.details'), subsidiary, id: "details-#{subsidiary.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </section>

    <div class='actions mt-4'>
      <%= link_to  t('views.navigation.new'), new_subsidiary_path, class: 'btn btn-primary' %>
    </div>
  </div>
</main>
