<nav clas='col'>
  <%= link_to t('views.actions.go_back'), subsidiaries_path, class: 'btn btn-secondary' %>
</nav>

<main class='row'>
  <div class='col-12'>
    <header class='header'>
      <h1> <%= @subsidiary.name %> </h1>
    </header>

    <section class='contents'>
      <dl>
        <dt><%= t('activerecord.attributes.subsidiary.cnpj') %>:</dt>
        <dd> <%= @subsidiary.formatted_cnpj %> </dd>
        <dt><%= t('activerecord.attributes.subsidiary.address') %>:</dt>
        <dd> <%= @subsidiary.address %> </dd>
      </dl>
    </section>

    <div class='actions mt-4'>
      <%= link_to t('views.actions.edit'), edit_subsidiary_path(@subsidiary), class: 'btn btn-primary' %>
      <%= link_to t('views.actions.delete'), @subsidiary, method: :delete,
                  data: { confirm: t('messages.delete_resource', resource: @subsidiary.name) },
                  class: 'btn btn-danger' %>
    </div>
  </div>
</main>
