<nav>
</nav>

<main class='row'>
  <div class='col-md-12'>
    <header class='header'>
      <h1><%= t('views.application_name') %></h1>

      <p><%= t('views.greeting') %></p>
    </header>

    <section class='contents'>

      <%= image_tag("cars/1.png", alt: "Car", width:  "360") %>
      <%= image_tag("cars/2.png", alt: "Car", width:  "360") %>
      <%= image_tag("cars/3.png", alt: "Car", width:  "360") %>
      <%= image_tag("cars/4.png", alt: "Car", width:  "360") %>
      <%= image_tag("cars/5.png", alt: "Car", width:  "360") %>
      <%= image_tag("cars/6.png", alt: "Car", width:  "360") %>
      <%= image_tag("cars/7.png", alt: "Car", width:  "360") %>
      <%= image_tag("cars/8.png", alt: "Car", width:  "360") %>
      <%= image_tag("cars/9.png", alt: "Car", width:  "360") %>

    </section>

    <div class='actions mt-4'>
    </div>
  </div>
</main>
