<%= form_with model: @customer, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class='form-group'>
    <%= f.label :name, t('views.labels.name') %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :cpf, t('views.labels.cpf') %>
    <%= f.text_field :cpf, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :email, t('views.labels.email') %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <%= f.submit t('views.actions.send'), class: 'btn btn-primary' %>
<% end %>
