<nav clas='col'>
  <%= link_to t('views.actions.go_back'), customers_path, class: 'btn btn-secondary' %>
</nav>

<main class='row'>
  <div class='col-12'>
    <header class='header'>
      <h1> <%= @customer.name %> </h1>
    </header>

    <section class='contents'>
      <dl>
        <dt><%= t('activerecord.attributes.customer.email') %>:</dt>
        <dd> <%= @customer.email %> </dd>
        <dt><%= t('activerecord.attributes.customer.cpf') %>:</dt>
        <dd> <%= @customer.formatted_cpf %> </dd>
      </dl>
    </section>

    <div class='actions mt-4'>
      <%= link_to t('views.actions.edit'), edit_customer_path(@customer), class: 'btn btn-primary' %>
      <%= link_to t('views.actions.delete'), @customer, method: :delete,
                  data: { confirm: t('messages.delete_resource', resource: @customer.name) },
                  class: 'btn btn-danger' %>
    </div>
  </div>
</main>
