<nav>
  <%= link_to t('views.actions.go_back'), root_path, class: 'btn btn-secondary' %>
</nav>

<main class='row'>
  <div class='col-md-12'>
    <header class='header'>
      <h1><%= t('activerecord.models.car_category.other') %></h1>

      <p><%= t('views.resources.car_categories.description') %></p>
    </header>

    <section class='contents'>
      <% if @car_categories.empty? %>
        <p><%= t('views.resources.car_categories.empty_resource') %></p>
      <% end %>

      <table class="col index_table">
        <thead class="index_table_head">
          <tr class="index_table_row">
            <th><%= t('activerecord.attributes.car_category.name') %></th>
            <th><%= t('activerecord.attributes.car_category.daily_rate') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody class="index_table_body">
          <% @car_categories.each do |car_category| %>
            <tr class="index_table_row" id="car-category-<%= car_category.id %>">
              <td><%= car_category.name %></td>
              <td><%= number_to_currency(car_category.daily_rate) %></td>
              <td><%= link_to t('views.actions.details'), car_category, id: "details-#{car_category.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </section>

    <div class='actions mt-4'>
      <%= link_to t('views.actions.new'), new_car_category_path, class: 'btn btn-primary' %>
    </div>
  </div>
</main>
