<nav clas="col">
  <%= link_to "Voltar", car_categories_path, class: 'btn btn-secondary' %>
</nav>

<div class="row">
  <div class="col-12">
    <div class="header">
      <h1> <%= @car_category.name %> </h1>
    </div>

    <div class="contents">
      <ul>
        <li><strong>Diária:</strong> R$ <%= @car_category.daily_rate %></li>
        <li><strong>Seguro:</strong> R$ <%= @car_category.insurance %></li>
        <li><strong>Seguro de Terceiros:</strong> R$ <%= @car_category.third_party_insurance %></li>
      </ul>
    </div>

    <div class="actions mt-4">
      <%= link_to "Editar", edit_car_category_path(@car_category), class: 'btn btn-primary' %>
      <%= link_to "Apagar categoria de veículos", @car_category, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
