<nav clas='col'>
  <%= link_to t('views.navigation.go_back'), car_categories_path, class: 'btn btn-secondary' %>
</nav>

<main class='row'>
  <div class='col-12'>
    <header class='header'>
      <h1> <%= t('activerecord.models.car_category.one') %> <%= @car_category.name %> </h1>
    </header>

    <section class='contents row'>
      <aside class="col-3">
        <dl class="side_info_box">
          <dt><%= t('activerecord.models.car_model.other') %>:</dt>
          <% @car_category.car_models.each do |car_model| %>
            <dd><%= link_to "#{car_model.manufacturer.name} #{car_model.name} #{car_model.year}", car_model %> </dd>
          <% end %>
        </dl>
      </aside>

      <dl>
        <dt><%= t('activerecord.attributes.car_category.daily_rate') %>:</dt>
        <dd> <%= number_to_currency(@car_category.daily_rate) %> </dd>
        <dt><%= t('activerecord.attributes.car_category.insurance') %>:</dt>
        <dd> <%= number_to_currency(@car_category.insurance) %> </dd>
        <dt><%= t('activerecord.attributes.car_category.third_party_insurance') %>:</dt>
        <dd> <%= number_to_currency(@car_category.third_party_insurance) %> </dd>
      </dl>
    </section>

    <div class='actions mt-4'>
      <%= link_to t('views.navigation.edit'), edit_car_category_path(@car_category), class: 'btn btn-primary' %>
      <%= link_to t('views.actions.delete'), @car_category, method: :delete, 
                  data: { confirm: t('views.messages.delete_resource', resource: @car_category.name) },
                  class: 'btn btn-danger' %>
    </div>
  </div>
</main>
