<p><%= t('views.devise.mailer.reset_password_instructions.greeting', email: @resource.email) %></p>

<p><%= t('views.devise.mailer.password_change.message1') %></p>

<p><%= link_to t('views.devise.mailer.reset_password_instructions.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('views.devise.mailer.password_change.message2') %></p>
<p><%= t('views.devise.mailer.password_change.message3') %></p>
