<%= form_with model: @manufacturer, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class='form-group'>
    <%= f.label :name, t('activerecord.attributes.manufacturer.name') %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>

  <%= f.submit t('views.actions.send'), class: 'btn btn-primary' %>
<% end %>
