<nav>
  <%= link_to t('views.navigation.go_back'), root_path, class: 'btn btn-secondary' %>
</nav>

<main class='row'>
  <div class='col-md-12'>
    <header class='header'>
      <h1><%= t('activerecord.models.manufacturer.other') %></h1>

      <p><%= t('views.resources.manufacturers.description') %></p>
    </header>

    <section class='contents'>
      <% if @manufacturers.empty? %>
        <p><%= t('views.resources.manufacturers.empty_resource') %></p>
      <% end %>

      <table class="col index_table">
        <thead class="index_table_head">
          <tr class="index_table_row">
            <th><%= t('activerecord.attributes.manufacturer.id') %></th>
            <th><%= t('activerecord.attributes.manufacturer.name') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody class="index_table_body">
          <% @manufacturers.each do |manufacturer| %>
            <tr class="index_table_row" id="manufacturer-<%= manufacturer.id %>">
              <td><%= manufacturer.id %></td>
              <td><%= manufacturer.name %></td>
              <td><%= link_to t('views.navigation.details'), manufacturer, id: "details-#{manufacturer.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </section>

    <div class='actions mt-4'>
        <%= link_to  t('views.navigation.new'), new_manufacturer_path, class: 'btn btn-primary' %>
    </div>
  </div>
</main>
