<nav>
  <%= link_to t('views.actions.go_back'), root_path, class: 'btn btn-secondary' %>
</nav>

<main class='row'>
  <div class='col-md-12'>
    <header class='header'>
      <h1><%= t('activerecord.models.car_model.other') %></h1>

      <p><%= t('views.resources.car_models.description') %></p>
    </header>

    <section class='contents'>
      <% if @car_models.empty? %>
        <p><%= t('views.resources.car_models.empty_resource') %></p>
      <% end %>

      <table class="col index_table">
        <thead class="index_table_head">
          <tr class="index_table_row">
            <th><%= t('activerecord.models.manufacturer.one') %></th>
            <th><%= t('activerecord.attributes.car_model.name') %></th>
            <th><%= t('activerecord.attributes.car_model.year') %></th>
            <th></th>
          </tr>
        </thead>

        <tbody class="index_table_body">
          <% @car_models.each do |car_model| %>
            <tr class="index_table_row" id="car-model-<%= car_model.id %>">
              <td><%= car_model.manufacturer.name %></td>
              <td><%= car_model.name %></td>
              <td><%= car_model.year %></td>
              <td><%= link_to t('views.actions.details'), car_model, id: "details-#{car_model.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </section>

    <div class='actions mt-4'>
      <%= link_to  t('views.actions.new'), new_car_model_path, class: 'btn btn-primary' %>
    </div>
  </div>
</main>
