<nav clas='col'>
  <%= link_to t('views.actions.go_back'), car_models_path, class: 'btn btn-secondary' %>
</nav>

<main class='row'>
  <div class='col-12'>
    <header class='header'>
      <h1> <%= @car_model.name %> </h1>
    </header>


    <section class='contents row'>
      <aside class="col-3">
        <dl class="side_info_box">
          <dt><%= t('activerecord.models.manufacturer.one') %>:</dt>
          <dd><%= link_to @car_model.manufacturer.name, @car_model.manufacturer %> </dd>
        </dl>

        <dl class="side_info_box">
          <dt><%= t('activerecord.models.car_category.one') %>:</dt>
          <dd><%= link_to @car_model.car_category.name, @car_model.car_category%> </dd>
          <dt><%= t('activerecord.attributes.car_category.daily_rate') %>:</dt>
          <dd> <%= number_to_currency(@car_model.car_category.daily_rate) %> </dd>
          <dt><%= t('activerecord.attributes.car_category.insurance') %>:</dt>
          <dd> <%= number_to_currency(@car_model.car_category.insurance) %> </dd>
          <dt><%= t('activerecord.attributes.car_category.third_party_insurance') %> de Terceiros:</dt>
          <dd> <%= number_to_currency(@car_model.car_category.third_party_insurance) %> </dd>
        </dl>
      </aside>

      <dl>
        <dt><%= t('activerecord.attributes.car_model.year') %>:</dt>
        <dd><%= @car_model.year %> </dd>
        <dt><%= t('activerecord.attributes.car_model.power') %>:</dt>
        <dd><%= @car_model.metric_horsepower %> </dd>
        <dt><%= t('activerecord.attributes.car_model.fuel_type') %>:</dt>
        <dd><%= @car_model.fuel_type %> </dd>

        <dt><%= t('activerecord.attributes.car_model.metric_city_milage') %>:</dt>
        <dd><%= @car_model.metric_city_milage %> </dd>
        <dt><%= t('activerecord.attributes.car_model.metric_highway_milage') %>:</dt>
        <dd><%= @car_model.metric_highway_milage %> </dd>
      </dl>
    </section>

    <div class='actions mt-4'>
      <%= link_to t('views.actions.edit'), edit_car_model_path(@car_model), class: 'btn btn-primary' %>
      <%= link_to t('views.actions.delete'), @car_model, method: :delete,
                  data: { confirm: t('messages.delete_resource', resource: @car_model.name) },
                  class: 'btn btn-danger' %>
    </div>
  </div>
</main>
