<header class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container'>
    <div class="logo_container">
      <%= link_to image_tag("logo.svg", alt: t('views.application_name'), width: "40"), root_path, class: 'logo_svg' %>
      <%= link_to t('views.application_name'), root_path, class: 'logo_name' %>
    </div>

    <nav class='nav navbar-right'>
      <li class='nav-item'><%= link_to t('views.navigation.home'), root_path, class: 'header_nav_link' %></li>

      <% if user_signed_in? %>
        <li class='nav-item'><%= link_to t('views.actions.log_out'), destroy_user_session_path, method: :delete, class: 'header_nav_link' %></li>

        <li class='nav-item header_nav_link'>
          <div class='dropdown'>
            <a class='nav-item dropdown-toggle' role='button' id='resourcesDropdown' 
              data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
              <%= t('views.navigation.resources') %>
            </a>
    
            <div class='dropdown-menu' aria-labelledby='resourcesDropdown'>
              <%= link_to t('activerecord.models.manufacturer.other'), manufacturers_path, class: 'dropdown-item' %>
              <%= link_to t('activerecord.models.car_category.other'), car_categories_path, class: 'dropdown-item' %>
              <%= link_to t('activerecord.models.car_model.other'), car_models_path, class: 'dropdown-item' %>
              <%= link_to t('activerecord.models.subsidiary.other'), subsidiaries_path, class: 'dropdown-item' %>
              <%= link_to t('activerecord.models.customer.other'), customers_path, class: 'dropdown-item' %>
            </div>
          </div>
        </li>
      <% else %>
        <li class='nav-item'><%= link_to t('views.navigation.log_in'), new_user_session_path, class: 'header_nav_link' %></li>
      <% end %>

    </nav>
  </div>
</header>
