<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Car Rental System", root_path, id: "logo" %>

    <nav class="nav navbar-right">
      <li class="nav-item"><%= link_to "Home", root_path %>
      <li class="nav-item"><%= link_to "Fabricantes", manufacturers_path %>
      <li class="nav-item"><%= link_to "Filiais", subsidiaries_path %>
      <li class="nav-item"><%= link_to "Categorias de Veículos", car_categories_path %>
      <li class="nav-item"><%= link_to "Clientes", customers_path %>
    </nav>
  </div>
</header>
